<?xml version="1.0" encoding="utf-8"?>
<web-app>
  
  <!-- Servlets -->
  
  	<servlet>
    	<servlet-name>MusicItem</servlet-name>
    	<servlet-class>com.kittypad.ringtone.MusicItemServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>MusicItem</servlet-name>
    	<url-pattern>/music</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>Mp3</servlet-name>
    	<servlet-class>com.kittypad.ringtone.Mp3ItemServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>Mp3</servlet-name>
    	<url-pattern>/mp3</url-pattern>
  	</servlet-mapping>
  	
  	
  	<servlet>
    	<servlet-name>Midi</servlet-name>
    	<servlet-class>com.kittypad.ringtone.MusicItemServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>Midi</servlet-name>
    	<url-pattern>/music</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>M4rItem</servlet-name>
    	<servlet-class>com.kittypad.ringtone.M4rItemServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>M4rItem</servlet-name>
    	<url-pattern>/music</url-pattern>
  	</servlet-mapping>
  	
	<servlet>
    	<servlet-name>Search</servlet-name>
    	<servlet-class>com.kittypad.ringtone.SearchServlet</servlet-class>
	</servlet>  
	<servlet-mapping>
    	<servlet-name>Search</servlet-name>
    	<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>Delete</servlet-name>
    	<servlet-class>com.kittypad.ringtone.utility.DeleteServlet</servlet-class>
	</servlet>  
	<servlet-mapping>
    	<servlet-name>Delete</servlet-name>
    	<url-pattern>/del</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>Stat</servlet-name>
    	<servlet-class>com.kittypad.ringtone.utility.StatServlet</servlet-class>
	</servlet>  
	<servlet-mapping>
    	<servlet-name>Stat</servlet-name>
    	<url-pattern>/stat</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>update</servlet-name>
    	<servlet-class>com.kittypad.ringtone.utility.DataUpdateServlet</servlet-class>
	</servlet>  
	<servlet-mapping>
    	<servlet-name>update</servlet-name>
    	<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
</web-app>
