<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RingtoneServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.kittypad.ringtone.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/ringtone/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadIncServlet</display-name>
    <servlet-name>DownloadIncServlet</servlet-name>
    <servlet-class>com.kittypad.ringtone.DownloadIncServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadIncServlet</servlet-name>
    <url-pattern>/ringtone/DownloadInc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateServlet</display-name>
    <servlet-name>RateServlet</servlet-name>
    <servlet-class>com.kittypad.ringtone.RateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateServlet</servlet-name>
    <url-pattern>/ringtone/Rate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/game/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameSearchServlet</display-name>
    <servlet-name>GameSearchServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.GameSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameSearchServlet</servlet-name>
    <url-pattern>/game/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameDownloadIncServlet</display-name>
    <servlet-name>GameDownloadIncServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.GameDownloadIncServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameDownloadIncServlet</servlet-name>
    <url-pattern>/game/DownloadInc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameRateServlet</display-name>
    <servlet-name>GameRateServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.GameRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameRateServlet</servlet-name>
    <url-pattern>/game/Rate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/game/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAwardedServlet</display-name>
    <servlet-name>SetAwardedServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.SetAwardedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAwardedServlet</servlet-name>
    <url-pattern>/game/SetAwarded</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PullBeansServlet</display-name>
    <servlet-name>PullBeansServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.PullBeansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PullBeansServlet</servlet-name>
    <url-pattern>/game/PullBeans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBeansServlet</display-name>
    <servlet-name>GetBeansServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.GetBeansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBeansServlet</servlet-name>
    <url-pattern>/game/GetBeans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCategoryServlet</display-name>
    <servlet-name>GetCategoryServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.GetCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategoryServlet</servlet-name>
    <url-pattern>/game/CategoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppVersionServlet</display-name>
    <servlet-name>AppVersionServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.AppVersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppVersionServlet</servlet-name>
    <url-pattern>/game/AppVersion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAppVersionServlet</display-name>
    <servlet-name>addAppVersionServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.addAppVersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAppVersionServlet</servlet-name>
    <url-pattern>/game/addAppVersion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/game/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewSongServlet</display-name>
    <servlet-name>NewSongServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.NewSongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewSongServlet</servlet-name>
    <url-pattern>/game/NewSong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadNewSongServlet</display-name>
    <servlet-name>UploadNewSongServlet</servlet-name>
    <servlet-class>com.kittypad.music.game.Servlet.UploadNewSongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNewSongServlet</servlet-name>
    <url-pattern>/game/UploadNewSong</url-pattern>
  </servlet-mapping>
</web-app>